@import "./global_colors.less";

*{
	font-family: Jura;
}

#add_title{
	margin: 20px 0;
}

select{
	width: 150px;
	height: 25px;
	margin-bottom: 30px;
	color: #ccc;
	background: #333;
	font-family: Jura;
	font-size: 16px;
}

select:focus{
	outline: 2px solid @main_color;
}

.add_input{
	display: inline-block;
	width: 100px;
	margin-bottom: 20px;
}

.add input{
	height: 25px;
	color: #ccc;
	background: #333;
	font-size: 16px;
	padding-left: 5px;
	outline: none;
	border: 2px solid grey;
}

.add input:focus{
	outline: 2px solid @main_color;
}

#fio{
	width: 300px;
}

.add_btn{
	background: #333;
	color: #bbb;
	width: 200px;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid grey;
	outline: none;
}

.add_btn:hover{
	cursor: pointer;
}

.add_btn:active{
	box-shadow: inset 0 0 5px 2px @main_color; 	
	text-shadow: 0 0 1px @main_color; 	
}

#add-save_btn{
	float: right;
}