/*@font-face{
	font-family: Jura;
	src: url(fonts/Jura-Medium.ttf);
	font-weight: normal;
}*/

@import url('https://fonts.googleapis.com/css?family=Jura');
@import "./global_colors.less";


*{
	margin: 0;
	padding: 0;
}

body{
	background: #222;
	font-family: Jura;
	color: #ccc;
}

.wrapper{
	max-width: 960px;
	margin: 30px auto;
}

.top{
	font-size: 40px;
	font-weight: bold;
	color: #aaa;
}

.menu_nav{
	list-style: none;
	display: inline-block;
}

.menu{
	height: 60px;
	line-height: 60px;
	background: #111;
	border-bottom: 5px solid @main_color;
	text-align: center;
}

.menu_nav a{
	font-size: 26px;
	font-weight: bold;
	color: @main_color;
	text-decoration: none;
	margin: 0 30px;
	transition: 0.2s;
	padding-bottom: 5px;
}

.menu_nav a:hover{
	border-bottom: 3px solid @main_color;
}