@import "./global_colors.less";

.none {
	display: none !important;
}

p {
	margin: 0 0 5px;
}

.article_wrapper{
	display: inline-block;
	min-height: 50px;
	margin-bottom: 20px;
}

.article {
	background: #555;
	border: 1px solid @main_color;
	width: 500px;
	box-shadow: 2px 3px 10px -1px @main_color;
	min-height: 50px;
	display: inline-block;
	padding: 10px 20px;
}

.ticket__organization {
	float: left;
	text-decoration: underline;
	color: #000;
}

.ticket__count {
	margin: 20px 0 20px 0;
	display: block;
}

.ticket__text{
	margin-left: 30px;
}

.wrap_btn{
	display: inline-block;
	vertical-align: top;
}

.main_btn{
	margin-left: 15px;
	height: 50px;
	width: 80px;
	font-family: Jura;
	font-size: 16px;
	border-radius: 3px;
	background: #444;
	color: #ccc;
	border-radius: 5px;
	border: 2px solid grey;
	outline: none;
}

.main_btn:hover{
	cursor: pointer;
}

.main_btn:active{
	box-shadow: inset 0 0 3px 1px @main_color; 	
	text-shadow: 0 1px 3px @main_color; 	
}